<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>449854987252-756sisq93o275aha1gbte0d6896g9sda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449854987252-756sisq93o275aha1gbte0d6896g9sda</string>
	<key>API_KEY</key>
	<string>AIzaSyCaNlPIZSZ4mCElQph3dRywr85cZnGLjvU</string>
	<key>GCM_SENDER_ID</key>
	<string>449854987252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meitar.com.Rising-Hot-Air-Balloon</string>
	<key>PROJECT_ID</key>
	<string>rising-hot-air-balloon-4f208</string>
	<key>STORAGE_BUCKET</key>
	<string>rising-hot-air-balloon-4f208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:449854987252:ios:8e79131d966c515b</string>
	<key>DATABASE_URL</key>
	<string>https://rising-hot-air-balloon-4f208.firebaseio.com</string>
</dict>
</plist>